@keyframes prueba{
    from{
        transform: rotate(0deg);   
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes posicion{
    0%{ left:0;
    top: 0;
    }
}

@keyframes expansion{ 
    0%{left:0px; top:0px} 
    25%{left:300px;top:0px;} 
    50%{left:300px; top:300px;}
    75%{left:0px;top:300px;}
    100%{left:0px;top:0px;}
}

#logoEmpresa1{
    position: relative;
    animation-duration: 2s;
    animation-name: prueba;
}

#links{
    animation-iteration-count:initial;
    position:relative; 
    animation-duration:3s; 
    animation-name:expansion; 
    display: inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkitt-transition: all 200ms ease-out;
    -webkitt-transform: scale(1);
    -ms-transition: all 200ms ease-out;
    -ms-transform:scale(1);
    -moz-transition:all 200ms ease-out;
    -moz-transform:scale(1);
} 



