*{
    padding: 0;
    margin : 0;
    color: white;
    text-align: center;
}

html, body{
    background-color: white;   
}

.main-container{
    border: 4px solid rgba(211, 84, 84, 0.856);
    border-radius: 20px;
    margin: 2rem;
    background-color: rgb(50, 50, 50);
}

section, footer, aside{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

aside#lateralIndex{
    width: 30%;
    display: inline-block;
    height: 20%;
    width: 20%;
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 1rem;
}
article#primeralista{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    border-radius: 10px;
    width: 30%;
    display: inline-block;
    height: 20%;
    width: 20%;
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 1rem;
}

nav, section, footer{
    background-color: rgb(41, 60, 66);
}

.LogoF{
    align-self: center;
}

section#bottom-left{
    width: 30%;
    display: inline-block;
    height: 20%;
    width: 20%;
    background-color: rgb(128, 69, 69);
    text-align: center;
    padding: 1rem;
}

section#bottom-right{
    width: 30%;
    display: inline-block;
    height: 20%;
    width: 20%;
    background-color: rgb(128, 69, 69);
    text-align: center;
    padding: 1rem;
}

h2#Papu{
    display: inline-block;
}

h2#Mamu{
    display: inline-block;
}

.imgPapu{
    display: inline-block;
}

.imgMamu{
    display: inline-block;
}

footer{
    margin: 1rem;
    margin-left: 42% ;
    margin-right: 42% ;
}

li{
    border: 3px solid rgba(233, 156, 156, 0.753);
    border-radius: 8px;
    margin-block: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    display: inline-block;
    color: seashell;
}

nav#logoEmpresa1{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
}

nav#titulo{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    margin-left: 30% ;
    margin-right: 30% ;
    border-radius: 10px;
    padding: .5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
    font-size: 4rem;
}

nav#logoEslogan{
    margin-right: 60rem;
    border: 2px solid rgba(255, 255, 255, 0.753);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 50%;
    align-items: center;
    font-size: 2rem;
}

a#In_PT{
    color: rgb(41, 60, 66);
}

nav#listaMenu{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 50%;
    text-align: left;
    display: inline-block;
    color: seashell;
    padding: 1rem;
    font-size: 2rem;
    width: 70%;
}
nav#encabezadoInd{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin: 1rem;
    text-align: left;
    display: inline-block;
    color: seashell;
    padding: 1rem;
    font-size: 2rem;
    width: 95%;
}

section.header-ind{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    color: seashell;
    padding: 2rem;
    width: 20%;
}

h1#tituloPag{
    font-size: 2rem;
    color: seashell;
}

h2#subtituloPag{
    font-size: 2.5rem; 
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: .5rem;
    width: 40%;
}

nav#tablaMision{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 50%;
    text-align: left;
    color: seashell;
    padding: 1rem;
    font-size: 1.5rem;
    width: 70%;
}
nav#tablaVision{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-left: 26%;
    text-align: left;
    color: seashell;
    padding: 1rem;
    font-size: 1.5rem;
    width: 70%;
}

aside#estads_proyecto{
    width: 30%;
    display: inline-block;
    margin: 1rem;
    height: 20%;
    width: 20%;
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 1rem;
}

article#info_proyecto{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    border-radius: 10px;
    width: 30%;
    display: inline-block;
    height: 20%;
    width: 20%;
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 1rem;
}

nav#infoyestads_proyecto{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 10px;
    padding: 1rem;
    width: 33%;
}

nav#infoyestads_proyecto2{
    border: 2px solid rgba(255, 255, 255, 0.753);
    margin: 1rem;
    border-radius: 10px;
    width: 30%;
    display: inline-block;
    height: 20%;
    width: 20%;
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 1rem;
}

aside#logrosyAsociaciones{
    width: 30%;
    display: inline-block;
    margin: 1rem;
    height: 20%;
    width: 20%;
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 1rem;
}

nav#tituloComentarios{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left:1.5rem;
    text-align: left;
    color: seashell;
    padding: 1rem;
    font-size: 1.5rem;
    width: 30%;
}

nav#formulario{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin: 1rem;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 2rem;
    width: 95%;
}

nav#cuest_contactanos{
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 8px;
    margin: 1rem;
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    width: 95%;
    font-size: 1rem;
}
#entradaD{
    color: black;
    font-size: 2rem;
}
#enviarVolver{
    color: black;
    font-size: 1rem;
}

#tablaDeciivo{
    border: 5px solid rgb(221, 207, 6);
    border-radius: 8px;
    border-style: solid;
    margin-left: 1rem;
    margin-right: 40rem;
    display: inline-block;
    margin-top: 2rem;
}

#palabraDeciivoT{
    font-size: 2rem;
    text-align: center;
}

#textoDeciivoI{
    text-align: left;
}

#tablaToroRu{
    border: 5px solid rgb(221, 207, 6);
    border-radius: 8px;
    border-style: solid;
    margin-left: 40rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: inline-flex;
}

#palabraToroRuT{
    font-size: 2rem;
    text-align: center;
}

#textoToroRuI{
    text-align: left;
}

#fabiddatSeguira{
    margin-left: 20rem;
    margin-right: 20rem;
}
