@media  (min-width:720px) and (max-width:1080px){
  

    body{
      }
    }
    @media  (min-height:720px) and (max-height:1950px){
      
    
    body{
        background-color: rgb(239, 239, 239);
        }
      }

body{
    margin: 0;
}
.main-container{
    background-color: rgb(239, 239, 239);
    height: auto;
}

nav#encabezado{
    background-color: rgb(37,36,42);
    padding-left: 37px;
    padding-top: 38px;
    display: inline-block;
    padding-bottom: 38px;
    padding-right: 5rem;
    margin-left: 41%;
    margin-top: 5%;
    padding: 2%;
    color: rgb(247,96,31);
    height: 50%;
    margin-bottom: 30rem;
    border-radius: 7px;
    padding-inline: 5rem;
}
#perfil{
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 26%;
    border-radius: 50%;
}
#formulario{
    padding: 2%;
    padding-right: 4rem;
}
label,input{
    margin: 1.5%;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#botonRegistrarse{
    margin-left: 95%;
}
h1{
    margin-left: 6.5rem;
    font-size: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
