@media  (min-height:720px) and (max-height:1080px){
      
    
  body{
      background-color: rgb(239,239,239);
      }
  header{
    background-color: rgb(37,36,42);
  }
  
    }
  body{
  margin:0;
  background-color: rgb(239,239,239);
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1.5);
  }
  100% {
    -webkit-trrnsform: scale(2);
            transform: scale(1.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.scale-up-center, svg:hover{
  -webkit-animation: scale-up-center 10s ease-in-out both;
          animation: scale-up-center 1s ease-in-out both;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: rgb(239, 239, 239);
}

header{
  background-color: rgb(37,36,42);
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-top: 1%;  
  position: relative;
  max-width: 100%;
  margin-left: 0;
}

img#ToroPNG{
  min-height: 10rem;
  max-height: 10rem;
  height: 100%;
  display: flex;
}

.encabezadoIMG{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 1rem;
  width: 71%;
}

.formularioHeader{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: auto;
}

section#vistaRutina{
  min-height: 480px;
  max-height: 480px;
  max-width: 880px;
  min-width: 880px;
  width: 100%;
  border: 5px rgb(247,96,31);
  border-style: solid;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

/*Primer slider*/

.slide-contenedor{
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.direcciones{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  margin: 0rem;
  margin-top: 3rem;
}

.direcciones a{
  color:rgb(247,96,31);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.direcciones a:hover{
  background: rgba(0, 0, 0, 0.0);
  transition: 1s;

}

.barras{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.barra{
  cursor: pointer;
  height: 2px;
  width: 25px;
  margin: 0 2px;
  background: #dcdde1;
  display: inline-block;
  margin-left: 3px;
}

.active{
  background-color: rgb(247,96,31);
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .3;}
  to{opacity: 1;}
}

#contenedorPrincipal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  margin-top: 5rem;
  min-height: 480px;
  max-height: 480px;
  width: 100%;
  display: flex;
}

.miSlider{
  display: none;
  transition: 2s;
  max-height: 200vh;
}

#Capa_1{
  max-height: 60px;
  min-height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select, input, option{
  background-color: rgb(37,36,42);
  color: rgb(247,96,31);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 41px;
  border: 4px rgb(247,96,31);
  border-style: solid;
  margin-left: 2rem;

  min-width: 380px;
  max-width: 380px;
  width: 100%;
}

/**carrusel con filas**/

.second-container{
  margin-top: 6rem;
  max-width: 81%;
  margin-bottom: 4rem;
  margin-left: 10rem;
}


/*El de arriba es el div de todooooooooooooooooooooooooo*/

.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  margin: auto;
  margin-top: 7rem;
  border: none;
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}

#Capa_2{
  max-height: 60px;
  min-height: 50px;
  width: 50px;
  background: none;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -5%;
}

.carousel__siguiente {
	right: -5%;
}

.carousel__lista {
	overflow: hidden;
  align-items: center;
}

.carousel__elemento {
	text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  min-height: 300px;
}

.carousel__elemento.glider-slide.visible.active.left-2{
  padding: -16rem;
  padding-left: -16rem;
  padding-right: -16rem;
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  min-height: 300px;
  background: none;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

section#vistaRutinas{
  border: 5px rgb(247,96,31);
  border-style: solid;
  padding: 0;
  justify-content: center;
  align-content: center;
  align-self: center;
  display: flex;
  min-height: 260px;
  max-height: 260px;
  max-width: 270px;
  min-width: 270px;
  width: 100%;
}

section#vistaRutinas:hover{
    border: 2px solid rgb(247,96,31);
    outline: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.616);
    transition: .2s;
}
.direcciones:hover{
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.123);
  transition: 5s;
}

.carousel__elemento{
  position: relative;
}

.fondo{
 position: absolute;
 -webkit-filter:blur(0);
 filter:blur(0);
 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.fondo-hover{
  -webkit-filter:blur(4px);
  filter:blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .1s ease;
  background: rgba(0, 0, 0, 0.00001);
  text-align: center;
}

.carousel__elemento:hover .overlay{
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.00001);
}

.text {
  white-space: nowrap; 
  color: rgb(247,96,31);
  font-size: 12px;
  text-align: center;
  -webkit-text-fill-color: rgb(247,96,31);
  -webkit-text-stroke: 1px rgb(0,0,0);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  text-align: center;
}