*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
}
header{
    background-color: rgb(37,36,42);
    position:relative;
    width: 100%;
}
.textBtn{
    padding: 1rem;
}
.btnHeader{
    display: flex;
    background-color:rgb(37,36,42);
    border: 4px solid rgb(247,96,31);
    color: rgb(247,96,31);
    padding: 0%;
    font-size: 150%;
    cursor: pointer;
}
.main-header{
    display:flex;
    width: 100%;
}
.bamrram{
    display: flex;
    width: 100%;
}
#ImagenToro{
    height: 150px;
}
.primerElemento{
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    max-height: 150px;
}
.segundoElemento{
    justify-content: flex-end;
    align-items: center;
    margin-inline: 15%;
}
.registrarse{
    margin-left: 50%; /*convertir en 1rem a los 600px*/
    position: relative;
}
    @media (max-width: 600px){
        .registrarse{
            margin-left: 1rem;
        }
    }
/*.iniciarSesion{
}
*/

/*Termina el heaeder xdddddddddddddddddddddddd:v*/

.slide-contenedor{
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible;
    justify-content: center;
}
  
.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin: 0rem;
    margin-top: 3rem;
    background: none;
}
  
.direcciones a{
    color:rgb(247,96,31);
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background: none;
}
  
.direcciones a:hover{
    background: rgba(0, 0, 0, 0.0);
    transition: 1s;
}
  
.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.barra{
    cursor: pointer;
    height: 2px;
    width: 25px;
    margin: 0 2px;
    background: rgb(247,96,31);
    display: inline-block;
    margin-left: 3px;
}
  
.active{
    background-color: rgb(247,96,31);
}
  
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .3;}
    to{opacity: 1;}
}
  
#contenedorPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    min-height: 480px;
    max-height: 480px;
    width: 100%;
    display: flex;
}
  
.miSlider{
    display: none;
    transition: 2s;
    max-height: 200vh;
}
  
#Capa_1{
    max-height: 60px;
    min-height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:1080px){
    .vistaRutina{    /*Desde los 1080px en adelante pasar a esta forma (Primer paso)*/
        width: 800px;
        height: 650px;
        overflow: hidden;
        border: 4px solid rgb(247,96,31);
        display: flex;
        justify-content: center;
    }
    .primerSlider{
        display: flex;
        align-content: center;
        height: 600px;
        margin-top: 10rem;
    }
    .barras{
        margin-bottom: 10px;
    }
    .direcciones{
        margin-top: -3rem;
    }
}
@media (max-width:1080px){
    .vistaRutina{    /*A los 1080px pasar a esta forma (segundo paso)*/
        width: 600px;
        height: 450px;
        overflow: hidden;
        border: 4px solid rgb(247,96,31);
        display: flex;
        justify-content: center;
    }
    .primerSlider{
        display: flex;
        align-content: center;
        height: 600px;
        margin-top: 2rem;
    }
    .barras{
        margin-bottom: 100px;
    }
    .direcciones{
        margin-top: -3rem;
    }
}
@media (max-width: 970px){
    .vistaRutina{    /*A los 970px pasar a esta forma (tercer paso)*/
        width: 400px;
        height: 300px;
        overflow: hidden;
        border: 4px solid rgb(247,96,31);
        display: flex;
        justify-content: center;
    }
    .barras{
        margin-bottom: 175px;
    }
}
select, input, option{
    background-color: rgb(37,36,42);
    color: rgb(247,96,31);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 41px;
    border: 4px rgb(247,96,31);
    border-style: solid;
    margin-left: 2rem;
    min-width: 380px;
    max-width: 380px;
    width: 100%;
}

/*Termina la cochinada del Primer Slider aaaaaaaaaaaaaaaaaaaaxddddddddddddddddddddddddd:v*/

/**carrusel con filas**/

.second-container{
    margin-top: 6rem;
    max-width: 81%;
    margin-bottom: 4rem;
    margin-left: 10rem;
  }
  
  
  /*El de arriba es el div de todooooooooooooooooooooooooo*/
  
  .carousel__contenedor {
      position: relative;
  }
  
  .carousel__anterior,
  .carousel__siguiente {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin: auto;
    margin-top: 7rem;
    border: none;
    max-width: 300px;
    max-height: 300px;
    align-self: center;
    background: none;
  }
  
  #Capa_2{
    max-height: 60px;
    min-height: 50px;
    width: 50px;
    background: none;
  }
  
  .carousel__anterior:hover,
  .carousel__siguiente:hover {
      opacity: 100%;
  }
  
  .carousel__anterior {
      left: -5%;
  }
  
  .carousel__siguiente {
      right: -5%;
  }
  
  .carousel__lista {
      overflow: hidden;
    align-items: center;
  }
  
  .carousel__elemento {
      text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    min-height: 300px;
  }
  
  .carousel__elemento.glider-slide.visible.active.left-2{
    padding: -16rem;
    padding-left: -16rem;
    padding-right: -16rem;
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    min-height: 300px;
    background: none;
  }
  
  .carousel__indicadores .glider-dot {
      display: block;
      width: 30px;
      height: 4px;
      background: rgb(247,96,31);
      opacity: .2;
      border-radius: 0;
  }
  
  .carousel__indicadores .glider-dot:hover {
      opacity: .5;
  }
  
  .carousel__indicadores .glider-dot.active {
      opacity: 1;
  }
  section#vistaRutinas{
    border: 5px rgb(247,96,31);
    border-style: solid;
    padding: 0;
    justify-content: center;
    align-content: center;
    align-self: center;
    display: flex;
    min-height: 260px;
    max-height: 260px;
    max-width: 270px;
    min-width: 270px;
    width: 100%;
  }
  
  section#vistaRutinas:hover{
      border: 2px solid rgb(247,96,31);
      outline: none;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.616);
      transition: .2s;
  }
  .direcciones:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.123);
    transition: 5s;
  }
  
  .carousel__elemento{
    position: relative;
  }
  #btnSup{
      background-color:none;
  }
  svg{
      background:none;
  }
@media (max-width:1080px){
    .carousel__lista{    /*A los 1080px pasar a esta forma (segundo paso)*/
        margin-top: -11rem;
        display:flex;
        margin-right: 9rem;
    }
    .carousel__siguiente{
        margin-right: 8rem;
    }
    .carousel__anterior{
        margin-left: -.5rem;
    }
}
@media (max-width: 970px){
    .carousel__lista{    /*A los 970px pasar a esta forma (tercer paso)*/
        margin-top: -15rem;
        display:flex;
        margin-right: 9rem;
    }
    .carousel__siguiente{
        margin-right: 9rem;
    }
    .carousel__anterior{
        margin-left: -.1rem;
    }
}
.glider-slide,.active, .visible, .left-1{
    background: none;
}
a:visited, a:link{
  text-decoration: none;
  color: rgb(247,96,31);
}