<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConexionSQL</servlet-name>
        <servlet-class>Controlador.ConexionSQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesPerfil</servlet-name>
        <servlet-class>Controlador.AccionesPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConexionSQL</servlet-name>
        <url-pattern>/ConexionSQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesPerfil</servlet-name>
        <url-pattern>/AccionesPerfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
